<div class="meetup-container">

  <h1 class='meetup-title'>Editing meetup</h1>

  <%= render "form", meetup: @meetup %>

  <br>

  <div class='meetup-actions'>
    <%= link_to "Show this meetup", @meetup %> |
    <%= link_to "Back to meetups", meetups_path %>
  </div>
</div>