<div class='meetups-container'>
  <div class='meetups-header'>
    <h1 class="meetups-title">All Meetups</h1>
    <%= link_to "New meetup", new_meetup_path, class: "btn btn-primary" if logged_in?(:site_admin, :user) %>
  </div>

  <div id="meetups" class="meetup-items-container">
    <% @meetups.each do |meetup| %>
      <%= render meetup %>
    <% end %>
  </div>

  
</div>
