<div class='meetup-container'>
  <h1 class='meetup-title'>New meetup</h1>

  <%= render "form", meetup: @meetup %>

  <br>

  <div class='meetup-actions'>
    <%= link_to "Back to meetups", meetups_path %>
  </div>
</div>
