
.devise-container {
    width: 40%;
    margin: 20px auto;
    padding: 20px;

    .devise-title {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-weight: bold;
        color: $green;
    }
}

.form-submit-btn {
    width: 25%;
    padding: 4px 8px;
    font-size: 1.2em;
    background-color: $blue;
    color: $white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.166);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        transform: scale(1.1);
    }
}