
.meetups-container {
    width: 90%;
    margin: 0 auto;

    .meetups-header {
        width: 100%;
        padding: 2rem;
        border-bottom: 1px solid #cccccc39;

        .meetups-title {
            text-align: center;
            font-size: 2.5rem;
            margin: 2rem 0;
            font-weight: bold;
            color: $blue;
        }
    }

    .meetup-items-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}

.meetup-item-link {
    text-decoration: none;
}

.meetup-item-wrapper {
    margin: 2rem 0;
    background-color: #121212;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #cccccc39;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.05);
        box-shadow: 1px 1px 1px 1px $blue;
    }

    .meetup-item-title {
        font-size: 2.5rem;
        font-weight: bold;
        color: $blue;
        padding: 1rem 0;
    }

    .meetup-item-details {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        
        .meetup-item-detail {
            font-size: 1.5rem;
            color: $grey;
        }
    }
}

.meetup-container {
    width: 60%;
    margin: 0 auto;
    padding: 2rem;

    .meetup-title {
        font-size: 2rem;
        font-weight: bold;
        color: $white;
        border-bottom: 2px solid #cccccc39;
    }

    .meetup-actions {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }
}

.meetup-show-container {
    width: 80%;
    margin: 0 auto;

    .show-image-wrapper {
        width: 100%;
        max-height: 300px;
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    .show-content-wrapper {
        width: 100%;
        padding: 2rem;
        border-bottom: 2px solid #cccccc39;

        .show-header {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-content: center;
            margin-bottom: 2rem;

            .show-title {
                font-size: 2.5rem;
                font-weight: bold;
                color: $white;
            }

            .show-poster {
                color: $green;
                font-size: 0.8em;
            }
        }

        .show-item {
            font-size: 1.5rem;
            color: $grey;
            margin: 1rem 0;
        }

        .show-description {
            width: 75%;
            min-height: 250px;
            margin: 2rem 0;
            font-size: 1.1rem;
            color: #121212;
            background-color: rgba(255, 255, 255, 0.769);
            border-radius: 4px;
            padding: 8px 12px;
            box-shadow: 1px 1px 1px 1px #cccccc39;
        }
    }

    .show-actions {
        margin: 1rem 3rem;
        display: flex;
        justify-content: flex-end;

        .show-btn {
            margin: 0 1rem;
            padding: 4px 12px;
            font-size: 1.1em;
            border-radius: 4px;
            color: white;
            text-decoration: none;
            box-shadow: 1px 1px 1px 1px #cccccc39;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
                transform: scale(1.1);
            }
        }

        .show-edit {
            background-color: $green;
        }

        .show-delete {
            background-color: rgb(148, 24, 24);
        }

        .show-back {
            background-color: $blue;
        }
    }
}

.meetup-form {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}