
.nav-container {
    width: 100%;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $green;
        font-size: 1.8em;
    }

    .nav-user {
        color: $black;
        font-size: 1.6em;
        bottom: 0;
    }

    .links-wrapper {
        display: flex;
        flex-direction: row;
    }

    .nav-link {
        text-decoration: none;
        color: $black;
        font-size: 16px;
        font-weight: 600;
        padding: 20px 35px;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $blue;
            transform: scale(1.1);
        }
    }

    .nav-button {
        border: none;
        background-color: transparent;
    }
}